body {
    color: #3D405B;
    background-color: #efefef;
    font-family: "Courier New" ,Georgia ,Haettenschweiler;
}

.title{
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
}

.center-img {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: min(100%, 400px);
}

.container {
    margin:auto;
    width: min(100%, 400px);
    line-height: 25px;
}

.recipes {
    font-size: 20px;
    padding-left: 1px;
}

ul {
    list-style: none;
}

li::before {
    content: "\25b8";
    color: #77b1be;
    font-weight: bold;
    margin-left: -25px;
    margin-right: 10px;
}

a:link {
    color: #3D405B;
    text-decoration: none;
}

a:visited {
    color: #3D405B;
}

a:hover {
    color: #77b1be;
}

a:active {
    color: #adadad;
}

#credit {
    text-align: center;
}